<section class="text-gray-600 body-font ">
  <div class="container w-[80%] px-8 py-12 mx-auto flex flex-wrap border-2 bg-red-50">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
      <div class="w-full sm:p-4 px-8 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">RESUMO SOBRE MIM</h1>
        <div class="leading-relaxed">
          <p class="pt-8">
            Eu me considero uma constante aprendiz, sempre ansiosa para evoluir. Minha paixão e
            curiosidade por novidades, inovações e tecnologias me levaram a buscar oportunidades
            de crescimento profissional no campo do Desenvolvimento Web de Sistemas.
            Atualmente, desempenho o papel de gerente em um mercado de pequeno porte,
            mas minha verdadeira paixão e motivação residem na área de desenvolvimento.
            Recentemente, concluí uma Pós-Graduação em Desenvolvimento Full Stack pela
            PUC-Rio, um momento em que mergulhei profundamente no mundo do desenvolvimento.
            Foi nesse período que descobri minha verdadeira paixão e tomei a decisão de fazer
            uma transição de carreira, consolidando minha determinação em trabalhar e me
            aprimorar no empolgante universo dos códigos e da lógica.
            Minha jornada de aprendizado não se limitou apenas à programação. Ao longo do tempo,
            dediquei-me a aprimorar minhas habilidades em inglês, tornando-o minha segunda língua.
            Além disso, minha experiência de trabalho no Borá Mercado de Alimentos me proporcionou
            valiosas competências, como proatividade, boa comunicação, relacionamento e liderança.
            Estou ansiosa para continuar minha jornada de desenvolvimento, aplicando meu
            conhecimento e paixão para enfrentar novos desafios. Busco oportunidades que me
            permitam crescer e contribuir ativamente para equipes de desenvolvimento inovadoras.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="/assets/coding.jpg" alt="um laptop semi aberto">
    </div>
  </div>
</section>
