<footer class="text-gray-600 body-font mt-6 border-2">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center font-bold">
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="https://linkedin.com/in/edilaine-silva-b01398252" target="_blank">Linkedin</a>
      <a class="mr-5 hover:text-gray-900" href="https://github.com/Edilainecsilva" target="_blank">Github</a>
      <a class="mr-5 hover:text-gray-900" href="https://youtube.com/@edilainecristina8349?si=F9SE-OAe0XlAWsSJ" target="_blank">Youtube</a>
    </nav>
  </div>
</footer>
